/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body{
    background-color: #540B51;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-bar{
    display: flex;
    flex-direction: row;
}

#logo{
   
    width: 25%;
    padding: 15px 0 0 10px;
}

#search-button{
    display: flex;
    flex-direction: row;
    gap: 15px
 }

#search-button button{
    background-color: #540B51;
    border: none;
    margin: 10px 5px 0 0;
 }

#container-header h1{
    color:white;
    text-align: center;
    padding-top: 15px;
    font-size: 2.5rem;
}

#container-header p {
    color:white;
    text-align: center;
}

#container-header p strong{
    color:#ECB12F;
    font-size: 1rem;
}

#sing-button{
    display: flex;
    flex-direction: column;
    gap:10px;
}

#sing-button button{
    height: 3rem;
    border-radius: 5px;
    border:none;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform:uppercase;
    align-items: center;
}

#button-sing-email{
    color: #540B51;
}

#button-sing-google{
    background-color:#4285F4 ;
    color: white;
    display: flex;
}

#button-sing-google img{
    display: flex;
    height: 1.5rem;
    background-color: white;
    padding: 7px;
    margin-top: 2px;
}
#button-sing-google span{
    flex-grow: 1;
    
}

#hero-product-img{
    width: 150%;
    
    display: flex;
    
}